.deps
PLATFORM
Makefile
Makefile.in
aclocal.m4
configure
autom4te.cache
stamp-h1
config.h
config.log
config.status
test/Makefile.in
redhat/atftp.spec
*.o
atftp
atftpd
*.tar.gz
config.guess
config.sub
depcomp
install-sh
missing
compile
test-driver
*~
