*.o
*.tar.gz
*~
.deps
Makefile
Makefile.in
PLATFORM
aclocal.m4
atftp
atftpd
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
redhat/atftp.spec
stamp-h1
test-driver
test/??-out
test/Makefile
test/Makefile.in
test/atftpd.log
test/out.bin
